/* body {
    background-image: url("bg/a.jpg");
} */
/* body {
    background: black;
} */

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #cccccc;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;

}
.fa-play {
    
    
    color:rgb(18, 142, 243);

    position: absolute;
    left: 600px;
    top: 150px;


}